/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  background-image: url('/static/img/work.gif');

  /* background-image: url('/static/img/space.gif'); */


  /* background: linear-gradient(315deg, rgb(146, 17, 137) 3%, rgb(231, 211, 28) 38%, rgb(67, 175, 73) 68%, rgb(255, 29, 29) 98%); */
 
 /* animation: gradient 15s ease infinite; */
 background-size: 100% 100%;
 /* background-size: 400% 400%; */
 /* background-attachment: fixed; */
}
@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* main{
  background-color: rgba(255, 251, 8, 0.301);
} */